ytstalker.fun {
    redir https://ytstalker.mov{uri} permanent
    tls thedmdim@gmail.com
}

ytstalker.mov {
    path_regexp bad (.*\.php|.*wp-.*|/cgi-bin/.*|/uploads/.*|/wp-content/.*|/update/.*|.*\.(zip|tar))

    respond @bad "бро, займись чем-то полезным" 200

    reverse_proxy app:80

    tls thedmdim@gmail.com
}