{{ define "head" }}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5XVYQT3FT1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5XVYQT3FT1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="icon" type="image/png" href="/static/pics/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">


    <script src="/static/js/session.js" defer></script>
    <script src="/static/js/darkmode.js" defer></script>

    <meta name="description" content="Watch random YouTube videos. Listen to random music. Explore YouTube's rare and hidden videos with no views.">
{{ end }}