<!DOCTYPE html>
<html>
    <head>
        {{ template "head" }}
        <link rel="stylesheet" type="text/css" href="/static/css/random.css">
        <link rel="stylesheet" type="text/css" href="/static/css/nouislider.css">
        <script src="/static/js/nouislider.js" defer></script>
        <script type="module" src="/static/js/random.js" defer></script>
        <script type="module" src="/static/js/reactions.js" defer></script>

        <title>ytstalker | {{ .Title }} - {{ .Uploaded.Year }}</title>
    </head>
    <body>
        {{ template "header" }}
        <marquee loop="3" scrollamount="7" onfinish="this.style.display='none';">love ytstalker? 🎉 share it 🙏 that's the best thank you ♥️</marquee>
        <div id="content">
            <iframe id="video" src="https://www.youtube.com/embed/{{ .ID }}" frameborder="0" allowfullscreen></iframe>
            <div id="reactions">
                <button id="cool">Cool😍</button>
                <button id="link">Copy link</button>
                <button id="trash">Trash🥱</button>
            </div>
            <div id="video-info">
                {{.Uploaded.Day}}.{{.Uploaded.Month}}.{{.Uploaded.Year}} | {{ .Views }} views`
            </div>

            <button id="random">Find Random Video</button>

            <fieldset>
                <legend>Search Settings</legend>

                <p>Views</p>
                <div class="sliders" id="views-slider"></div>
                <p>Uploaded in</p>
                <div class="sliders" id="years-slider"></div>
            
                <p>
                    <input id="horizonly" type="checkbox" />
                    <label for="horizonly">Exclude Vertical</label>
                </p>
                <p>
                    <input id="musiconly" type="checkbox" />
                    <label for="musiconly">Only Music</label>
                </p>
            </fieldset>
            
        </div>
        {{ template "footer" }}
    </body>
    
</html>
