global
    log stdout format raw local0
    maxconn 2000

defaults
    log global
    timeout connect 5s
    timeout client  60s
    timeout server  60s
    option tcplog

frontend fe_https
    bind *:443
    mode tcp
    
    tcp-request inspect-delay 100ms
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend be_smp if { req.ssl_sni -i smp1.ytstalker.mov smp2.ytstalker.mov }
    use_backend be_https_termination if { req.ssl_sni -i ytstalker.mov }

backend be_smp
    mode tcp
    server smp smp:443

backend be_https_termination
    mode tcp
    server local_https 127.0.0.1:8443

frontend fe_https_terminated
    bind 127.0.0.1:8443 ssl crt /etc/haproxy/certs/front.pem
    mode http
    default_backend be_web

backend be_web
    mode http
    server web app:80

frontend fe_http
    bind *:80
    mode http
    default_backend be_web
