<!DOCTYPE html>
<html>
    <head>
        {{ template "head" }}

        <title>ytstalker | Statistics</title>
    </head>
    <body>
        {{ template "header" }}
        
        

        <h2>Best videos</h2>
        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>Reactions</th>
                <th>Title</th>
            </tr>
            {{ range .Best }}
                <tr>
                    <td>{{ .Reactions }}</td>
                    <td><a href="/?v={{ .ID }}">{{ .Title }}</a></td>
                </tr>
            {{end}}
        </table>

        <h2>Worst videos</h2>
        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>Reactions</th>
                <th>Title</th>
            </tr>
            {{ range .Worst }}
                <tr>
                    <td>{{ .Reactions }}</td>
                    <td><a href="/?v={{ .ID }}">{{ .Title }}</a></td>
                </tr>
            {{end}}
        </table>
        
        {{ template "footer" }}
    </body>
    
</html>
